{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4
        },
        "include": ["transform-async-to-generator"],
        "exclude": ["transform-regenerator"]
      }
    ]
  ]
}
