[submodule "smoke/assets/jquery"]
	path = smoke/assets/jquery
	url = https://github.com/jquery/jquery
	ignore = dirty
[submodule "smoke/assets/draft-js"]
	path = smoke/assets/draft-js
	url = https://github.com/facebook/draft-js
	ignore = dirty
[submodule "smoke/assets/html-minifier"]
	path = smoke/assets/html-minifier
	url = https://github.com/kangax/html-minifier
	ignore = dirty
[submodule "smoke/assets/lodash"]
	path = smoke/assets/lodash
	url = https://github.com/lodash/lodash
	branch = 4.17.4
	ignore = dirty
