[submodule "scripts/react"]
	path = scripts/react
	url = https://github.com/facebook/react
[submodule "scripts/immutable-js"]
	path = scripts/immutable-js
	url = https://github.com/facebook/immutable-js
[submodule "scripts/jquery"]
	path = scripts/jquery
	url = https://github.com/jquery/jquery
[submodule "scripts/draft-js"]
	path = scripts/draft-js
	url = https://github.com/facebook/draft-js
[submodule "scripts/html-minifier"]
	path = scripts/html-minifier
	url = https://github.com/kangax/html-minifier
